# Hugging Face Configuration
HF_TOKEN=
HF_SPACE_NAME=danilonovais/n8n-dan
HF_SPACE_REPO=your-username/your-space-name

# GitHub Configuration

# GitHub Integration
GITHUB_TOKEN=

# Knowledge Base Configuration
KNOWLEDGE_REPO_URL="https://github.com/danilonovaisv/CHATGPT-knowledge-base.git"
KNOWLEDGE_DIRS="projects/n8n,projects/videos-e-animacoes,projects/midjorney-prompt"
KB_REPO_N8N="https://github.com/danilonovaisv/CHATGPT-knowledge-base.git"
KB_PATH_N8N="projects/n8n,projects/videos-e-animacoes,projects/midjorney-prompt"
KB_BRANCH_N8N=main

# Database Configuration (Supabase PostgreSQL)
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=
DB_POSTGRESDB_PORT=6543
DB_POSTGRESDB_DATABASE=postgres
DB_POSTGRESDB_USER=postgres.vkgwjmvekrlrjybbmtks
DB_POSTGRESDB_PASSWORD=